/* Import color theme */
@import "~/dotfiles/config/waybar/themes/macchiato.css";

* {
    /*all: initial; Ignore gtk theme*/ 
    border: none;
    border-radius: 2px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FantasqueSansM Nerd Font","Roboto", "Helvetica", "Arial", "sans-serif";
    font-size: 14px;
    min-height: 0;
    /* opacity: 0.0; */
    /* reference the color by using @color-name */
    color: @text;
}

window#waybar {
    background-color: @base;
    border-radius: 8px;
    color: @base;
    transition-property: background-color;
    transition-duration: .4s;
    /* opacity: 0.9; */
}

window#waybar.empty #window {
	background: transparent;
}

#tags button  {
    background-color: @base;
    /* padding: 3px; */
    border-radius: 10px;
    min-width: 20px;
    color: @flamingo;
    }

#tags button.occupied  {
    background-color: @mantle;
    color: @crust;
}
#tags button.focused{
    background-color: @flamingo; 
    color: @crust;
}


#window {
    color: @mauve;
}
#workspaces {
    background-color: @crust;
    border-radius: 12px;
    padding: 2px 4px;
    margin: 3px 3px 3px 3px;
    background-clip: padding-box;
}

#workspaces button  {
    background-color: @crust;
    padding: 3px;
    border-radius: 12px;
    min-width: 20px;
    color: @subtext0;
}

#workspaces button.focused {
    color: @text;
    background: @teal;
    border-bottom: 3px solid @sky;
    padding: 0px;
}

#workspaces button.active{
    background-color: @surface1;
    border: 2px solid @mauve;
    margin: 1px 0 1px 0;
    border-radius: 12px;
    background-clip: padding-box;
    color: @subtext1;
    padding: 3px;
}
#workspaces button.urgent{
    background-color: @red;
    color: @text;
}

#workspaces button.hidden{
    background-color: @base; 
    color: @flamingo;
}

#window {
    color: @mauve;
}

#tags button{
    background-color: @base;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    color: @flamingo;
}

#tags button.occupied{
    background-color: @overlay1;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
}

#tags button.focused{
    background-color: @flamingo;
    border-bottom: 2px solid @mauve;
    color: @colfg;
}

#tags button.urgent{
    background-color: @colred;
    color: @colfg;
}

#window {
     background: @crust; 
     padding: 0 10px;
     margin: 3px 3px 3px 3px;
     border-radius: 90px;
     background-clip: padding-box;
}

#battery,
#clock,
#cpu,
#temperature.cpu,
#memory,
#network,
#pulseaudio,
#tray
{
  background: @crust; 
  padding: 0 10px;
  margin: 3px 3px 3px 3px;
  border-radius: 90px;
  background-clip: padding-box;
}

#custom-nix {
   padding-left: 8px;
   padding-right: 3px;
   background-color: transparent;
   color: @sky;
}

#battery {
    color: @green; 
}

#clock {
    color: @teal;
}

#cpu {
    color: @sapphire;
}
#temperature.cpu {
    color: @red;
}
#memory {
    color: @mauve; 
}
#network {
    color: @rosewater; 
}
#pulseaudio {
    color: @yellow;
}
